In [1]:
from datetime import date

In [5]:
mydate = date(2022, 2, 21)
print(mydate)

2022-02-21

In [6]:
#current date
print(date.today())

2022-10-30

In [13]:
#getting year, month, date
pre_date = date(2019,3,23) #covid date
print(pre_date.year)
print(pre_date.month)
print(pre_date.day)

2019
3
23

In [32]:
#getting year, month, date
today_date = date.today()
print(today_date)
print('Current year:', today_date.year)
print('current month:', today_date.month)
print('current day:', today_date.day)
print('Day of week',today_date.weekday()) #returns interger value of week day number MOnday-1, sunday-7
print(type(today_date))

2022-10-30
Current year: 2022
current month: 10
current day: 30
Day of week 6
<class 'datetime.date'>

In [22]:
#converting date to string
t_date = date.today()
print(t_date)
str1 = date.isoformat(t_date)
print(type(t_date))
print(type(str1))

2022-10-30
<class 'datetime.date'>
<class 'str'>

In [23]:
from datetime import date

In [31]:
dt = date(2022, 11,11)
print(dt)
dtt = date.today()
print(dtt)
print(dtt.year)
print(dtt.month)
print(dtt.day)
str1 = date.isoformat(date.today())
print(type(str1))
print(dtt.weekday())

2022-11-11
2022-10-30
2022
10
30
<class 'str'>
6

In [33]:
from datetime import time

In [34]:
t1 = time(15,32,12)
print('time:', t1)

time: 15:32:12

In [36]:
t1 = time()
print(t1) #returns time as '00:00:00'

00:00:00

In [38]:
t1 = time(minute = 21)
print(t1) #returns 00:21:00

00:21:00

In [41]:
t1 = time(hour =18) # if hour value is 24 or more, raises value error
print(t1) #returns 08:00:00

18:00:00

In [47]:
t1 = time(21,40,12)
print('time:', t1)
print('hour:', t1.hour)
print('minute:', t1.minute)
print('second:', t1.second)
print('microsecond:', t1.microsecond) #returns microsecond: 0, as no microsecond is given in date

time: 21:40:12
hour: 21
minute: 40
second: 12
microsecond: 0

In [53]:
#converting string to string
t1 = time(20,11,23)
str1 = t1.isoformat()
print('time:', t1)
print('time in str format:', type(str1))

time: 20:11:23
time in str format: <class 'str'>

In [54]:
from datetime import datetime

In [55]:
dt = datetime(2022,4,21, 5,21,50)
print('datetime date:', dt)

datetime date: 2022-04-21 05:21:50

In [56]:
#getting datetime information
print('year:', dt.year)
print('month:', dt.month)
print('day:', dt.day)
print('hour:', dt.hour)
print('minute:', dt.minute)
print('second:', dt.minute)
print('microsecond:', dt.microsecond) #returns microsecond: 0, as microsecond is not given in datetime

year: 2022
month: 4
day: 21
hour: 5
minute: 21
second: 21
microsecond: 0

In [57]:
dt1 = datetime.now()
print('current datetime:', dt1)

current datetime: 2022-10-30 17:02:10.664727

In [58]:
#converting datetime to string
str1 = dt1.isoformat()
print('str type of datetime:', type(str1))

str type of datetime: <class 'str'>

In [59]:
print(dt1.today())

2022-10-30 17:03:31.889084

In [65]:
print(dt1.time())

17:02:10.664727

In [66]:
print(dt1.date())

2022-10-30

In [71]:
#add days to datetime object
from datetime import datetime, timedelta
dt = datetime.now()
print(dt)
print(str(dt))
future_dt_2yr = dt + timedelta(days = 730)
future_dt_2d = dt + timedelta(days = 2)
print('date after 2 yrs:', future_dt_2yr)
print('date after 2 days:', future_dt_2d)

2022-10-30 17:24:35.729595
2022-10-30 17:24:35.729595
date after 2 yrs: 2024-10-29 17:24:35.729595
date after 2 days: 2022-11-01 17:24:35.729595

In [73]:
#calculating datetime difference using timedelta
dt1_now = datetime.now()
print('today\'s date:', dt1_now)
dt1_now_2d = dt1_now + timedelta(days = 2)
print('time after 2 days:', dt1_now_2d)

#time diference

diff = dt1_now_2d - dt1_now

print('time difference:', diff)

today's date: 2022-10-30 17:34:25.902533
time after 2 days: 2022-11-01 17:34:25.902533
time difference: 2 days, 0:00:00

In [85]:
#format datetime
from datetime import datetime as dt
dt1 = dt.now()
print('current datetime:', dt1)
dt1_format = '%A %d-%m-%Y'
dt1_format2 = '%a %d-%m-%y %H:%M:%S'
dt1_new = dt1.strftime(dt1_format)
dt1_new2 = dt1.strftime(dt1_format2)
print('changed format:', dt1_new)
print('changed format exp 2:', dt1_new2)

current datetime: 2022-10-30 17:56:32.107644
changed format: Sunday 30-10-2022
changed format exp 2: Sun 30-10-22 17:56:32

In [1]:
#converting date to string and string to datetime
from datetime import datetime

dt = datetime(2022,3,21, 5,32,55)
print('date in datetime:', dt)

st1 = dt.isoformat()
print('string date:', st1)
print(type(st1))

#print('string date to datetime date:', datetime(st1))
f = '%Y-%m-%d %H:%M:%S'
st_date = '2022-3-21 5:32:55'
date1 = datetime.strptime(st_date, f)
print(date1)
print(type(date1))

date in datetime: 2022-03-21 05:32:55
string date: 2022-03-21T05:32:55
<class 'str'>
2022-03-21 05:32:55
<class 'datetime.datetime'>

In [ ]:
#converting date to string and string to datetime
from datetime import datetime

dt = datetime(2022,3,21, 5,32,55)
print('date in datetime:', dt)

st1 = dt.isoformat()
print('string date:', st1)
print(type(st1))

#print('string date to datetime date:', datetime(st1))
f = '%Y-%m-%d %H:%M:%S'
st_date = '2022-3-21 5:32:55'
date1 = datetime.strptime(st_date, f)
print(date1)
print(type(date1))

In [8]:
from datetime import datetime
today = date(2021,6,2)
print(today)
print(type(today))

2021-06-02
<class 'datetime.date'>